# file types to ignore
.*
!/.gitignore
!/.travis/
!/.travis.yml
!/.clang-format
!/.git-blame-ignore-revs
!/.gitattributes
*.DS_Store
*.pyc
*.obj
*.lib
*.pch
*.vcproj
*.exp
*.dep
*.manifest
*.o
*.orig
qrc_*.cpp
BuildLog.htm
cmake_install.cmake
*~
CMakeFiles/
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
CMakeLists.txt.user
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/lib/
/Mod/
/ZERO_CHECK.dir/
/build/
/src/Tools/offlinedoc/localwiki/
/src/Tools/offlinedoc/*.txt
OpenSCAD_rc.py
tags

# crowdin file
src/Tools/labrps.zip
tsupdate_stderr.log
tsupdate_stdout.log
files_to_translate.txt

# these are for the release after next release
/src/Mod/SeaLab/
/src/Mod/SeaLabAPI/
/src/Mod/SeaLabPlugins/
/src/Mod/SeaLabTools/
/src/Mod/SeismicLab/
/src/Mod/SeismicLabAPI/
/src/Mod/SeismicLabPlugins/
/src/Mod/SeismicLabTools/

/src/Mod/WindLabPlugins/CorrelationErgodicityPlugin/
/src/Mod/WindLabPlugins/ErgodicityCheckToolPlugin/
/src/Mod/WindLabPlugins/PDFCheckToolPlugin/
