[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-aproj
Icon=labrps
Patterns=*.rps;*.rps.gz;
Comment=LabRPS project
Comment[de]=LabRPS-Projekt
Comment[fr]=Projet LabRPS
Comment[pt_BR]=Projeto do LabRPS
Comment[ru]=Проект LabRPS
