# file types to ignore

*.DS_Store
*.pyc
*.obj
*.lib
*.dll
*.pch
*.vcproj
*.exp
*.dep
*.manifest
*.o
*.a
*.orig
qrc_*.cpp
*.Debug
*.Release
labrps.exe
BuildLog.htm
cmake_install.cmake
*~
CMakeFiles/
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
CMakeLists.txt.user
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/lib/
/Mod/
/ZERO_CHECK.dir/
/build/
/3rdparty/eigen-3.4.0/
/3rdparty/gsl/
/3rdparty/PyQt-win-gpl/
/3rdparty/qwt/
/3rdparty/qwtplot3d/
/3rdparty/sip/
/tmp/
/\.idea/
/app/debug/
/app/plugins/
/app/release/
/plugins/seaLab/debug/
/plugins/seaLab/release/
/plugins/windLab/debug/
/plugins/windLab/release/
/plugins/seismicLab/debug/
/plugins/seismicLab/release/
/pluginapi/windlabapi/release/
/pluginapi/windlabapi/debug/
/pluginapi/sealabapi/release/
/pluginapi/sealabapi/debug/
/pluginapi/seismiclabapi/release/
/pluginapi/seismiclabapi/debug/
.tags
tags
/\.vscode/

